apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    move2kube.konveyor.io/service: nodejs-webapp
  name: nodejs-webapp
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
        - image: index.docker.io/myproject/nodejs-webapp:latest
          imagePullPolicy: Always
          name: nodejs-webapp
          ports:
            - containerPort: 8080
          resources: {}
      imagePullSecrets:
        - name: index-docker-io-imagepullsecret
      restartPolicy: Always
      securityContext: {}
status: {}
